/Console.class
/ConsoleCanvas.class
/ConsoleEntry.class
/ConsoleIn.class
/ConsoleStore.class
/EofX.class
/FileIn.class
/FileOut.class
/Format.class
/FormatIn.class
/FormatInNoX.class
/FormatInput.class
/FormatOutput.class
/NFX.class
/StandardIn.class
/StandardOut.class
/StringIn.class
/StringOut.class
